/*
    Rubiks Cube Solver
    By Amy Burnett
    January 2 2020
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width: 50%;
    float: left;
    margin: 0;
}

.controls {
    background-color: #fff;
    float: right;
    width: 33%;
    height: 90%;
    overflow-y: scroll;
    outline: solid 2px black;
}

.header {
    background-color: rgb(130, 130, 250);
    margin: 0;
    height: 10%;
}

.header h2 {
    margin: 0;
    font-size: 5vh;
    padding-left: 1.25vh;
}

.header h5 {
    margin: 0;
    font-size: 2.5vh;
    padding-left: 1.25vh;
}

.tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 2.5vh;
    padding: 1.25vh;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #ccc;
}

.tab-content {
    float: left;
    width: 100%;
}

.tabHeader {
    width: 100%;
    /* background-color: rgb(130, 130, 250); */
    text-align: center;
    margin: 0;
    font-size: 2.5vh;
    min-height: 5vh;
    position: relative;
}

.navForm {
    /* background-color: yellow; */
    display: inline-block;
    width: 100%;
}

.navButton {
    cursor: pointer;
    width: 100%;
    font-size: 2.5vh;
    min-height: 5vh;
}

.controlGroup {
    padding: 10px;
    width: 100%;
    table-layout: fixed;
}

.controlHeader {
    background-color: rgb(130, 130, 250);
    text-align: center;
    margin: 0;
    font-size: 2.5vh;
    min-height: 5vh;
    position: relative;
}

h2 {
    margin: 0;
}

.controlRow {
    /* border: 2px solid #000; */
}

.controlRow td {
    /* width: 100%; */
    /* border: 1px solid #000; */
}

.controlButton {
    width: 100%;
    font-size: 2.5vh;
    min-height: 5vh;
}

button:hover {
    cursor: pointer;
}

.collapsible {
    cursor: pointer;
}

.collapsible:after {
    content: '\25BE'; /* Arrow down = expanded */
    color: black;
    font-weight: bold;
    margin: 0;
    float: left;
    position: absolute;
    left: 1.25vh;
    top: 0;
    height: 100%;
    align-content: center;
    font-size: 2.5vh;
}

.collapsible.active:after {
    content: '\25B8';  /* Arrow right = collapsed */
}

.collapsible-content {
    width: 100%;
}

/* Sliders */

.sliderContainer {
    /* background-color: aqua; */
    width: 100%;
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.sliderLabel {
    /* background-color: red; */
    width: 50%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    font-size: 2.5vh;
    display: grid;
    align-items: center;
}

.sliderSliderContainer {
    /* background-color: green; */
    width: 25%;
    min-width: 5vh;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.sliderSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: #dddddd;
    outline: none;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0;
}

.sliderSlider:hover {
    background-color: #d3d3d3;
}
  
.sliderSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    overflow: visible;
    width: 5px;
    height: 5vh;
    background: rgb(130, 130, 250);
    cursor: pointer;
}
  
.sliderSlider::-moz-range-thumb {
    width: 5px;
    height: 5vh;
    background: rgb(130, 130, 250);
    cursor: pointer;
}

.sliderTextboxContainer {
    /* background-color: blue; */
    width: 25%;
    min-width: 5vh;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.sliderTextbox {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: #dddddd;
    color: rgb(130, 130, 250);
    outline: none;
    border: none;
    font-size: 2.5vh;
    overflow: hidden;
    padding-left: 5px;
    box-sizing: border-box;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0;
}
  
.sliderTextbox:hover {
    background-color: #d3d3d3;
}
