/*
    Rubiks Cube Solver
    By Amy Burnett
    January 2 2020
*/

body {
    height: 100%;
}

main {
    width: 50%;
    float: left;
}

.controls {
    background-color: #fff;
    min-height: 700px;
    float: right;
    width: 45%;
    height: 100%;
    box-shadow: 2px 2px 5px #777;
}

.header {
    background-color: rgb(130, 130, 250);
    padding: 10px;
    border-bottom: 1px solid #222222;
    margin-bottom: 10px;
}

.navForm {
    background-color: yellow;
    display: inline-block;
}

.navButton {
    height: 35px;
    font-size: 15pt;
    cursor: pointer;
}

.controlGroup {
    padding: 10px;
    margin-bottom: -10px;
    width: 100%;
    table-layout: fixed;
}

.controlHeader {
    background-color: rgb(130, 130, 250);
    margin-top: -25px;
    margin-bottom: -20px;
    text-align: center;
}

.controlRow {
    /* border: 2px solid #000; */
}

.controlRow td {
    /* width: 100%; */
    /* border: 1px solid #000; */
}

.controlButton {
    width: 100%;
    font-size: large;
    height: 60px;
}

button:hover {
    cursor: pointer;
}